In [122]:
import pandas as pd

In [123]:
with open('data.txt', 'r', encoding='utf-8') as file:
    data = file.readlines()

data

['Nome\tE-mail\tStatus\tAções\n',
 'Caíque Nóbrega\tiquenobrega@gmail.com\tAtiva\t\n',
 'Davi do Amaral Pereira\tffda.pereira@gmail.com\tAtiva\t\n',
 'Glauber Braga Ferreira\tglauberbragaferreira@gmail.com\tAtiva\t\n',
 'Gustavo Porto de Souza\tgportodesouza@gmail.com\tAtiva\t\n',
 'Isaías Cândido de Souza\tisaiascandido63@gmail.com\tAtiva\t\n',
 'Natan Pessanha\tnatanpessanha@gmail.com\tAtiva']

In [124]:
df = []

for line in data[1:]:
    row = line.split('\t')
    target = []

    for i, val in enumerate(row):
        val = val.strip()

        if len(val) < 5:
            continue

        target.append(val)
    
    if len(target) == 3:
        df.append(target)

df = pd.DataFrame(df, columns=['name', 'email', 'status'])
df

                      name                           email status
0           Caíque Nóbrega           iquenobrega@gmail.com  Ativa
1   Davi do Amaral Pereira          ffda.pereira@gmail.com  Ativa
2   Glauber Braga Ferreira  glauberbragaferreira@gmail.com  Ativa
3   Gustavo Porto de Souza         gportodesouza@gmail.com  Ativa
4  Isaías Cândido de Souza       isaiascandido63@gmail.com  Ativa
5           Natan Pessanha         natanpessanha@gmail.com  Ativa

In [126]:
for i, row in df.iterrows():
    email = row.email
    print(email)

iquenobrega@gmail.com
ffda.pereira@gmail.com
glauberbragaferreira@gmail.com
gportodesouza@gmail.com
isaiascandido63@gmail.com
natanpessanha@gmail.com