In [1]:
import requests
import pandas as pd
import json
from time import sleep

In [11]:
url = r'https://xi-secae-default-rtdb.firebaseio.com/'

def addDatabaseRow(tableName, newData, timeout=10):
    newData = json.dumps(newData)
    link = url + tableName + '.json'
    
    try:
        requests.post(link, data=newData, timeout=timeout)
    except:
        return False
    
    return True

In [12]:
df = pd.read_excel('inscritos.xlsx')
df.head()

                                Nome     Matricula           ID
0       Nicolas Meirelles Grisostolo  201717050115  3E 60 C3 F7
1            rayssa menezes bandeira  202227050281  B1 E2 C0 03
2                     leandro aragao  202227050273  0D A6 61 F2
3            Vinicius Rohen de Souza  202227050079  BE 1C 50 F7
4  guilherme da silva ventura gaspar  202227050370  5D CC 5D F2

In [17]:
df.columns = ['name', 'mat', 'id']

df['name'] = df.name.apply(lambda name: str(name).upper().strip())
df['mat']  = df.mat.apply(lambda mat: str(mat).strip())
df['id']   = df.id.apply(lambda id: str(id).replace(' ', '').strip())
df.head()

                                name           mat        id
0       NICOLAS MEIRELLES GRISOSTOLO  201717050115  3E60C3F7
1            RAYSSA MENEZES BANDEIRA  202227050281  B1E2C003
2                     LEANDRO ARAGAO  202227050273  0DA661F2
3            VINICIUS ROHEN DE SOUZA  202227050079  BE1C50F7
4  GUILHERME DA SILVA VENTURA GASPAR  202227050370  5DCC5DF2

In [ ]:
for i, row in df.iterrows():
    data = row.to_dict()
    
    if not data['mat'].isdigit() or len(data['mat']) < 10:
        continue

    success = addDatabaseRow('users', data)
    sleep(0.5)

    if not success:
        print('erro ao adicionar: ', data)
    else:
        print('adicionado: ', data)
    
print('acabou')

{'name': 'NICOLAS MEIRELLES GRISOSTOLO', 'mat': '201717050115', 'id': '3E60C3F7'}
adicionado:  {'name': 'NICOLAS MEIRELLES GRISOSTOLO', 'mat': '201717050115', 'id': '3E60C3F7'}
{'name': 'RAYSSA MENEZES BANDEIRA', 'mat': '202227050281', 'id': 'B1E2C003'}
adicionado:  {'name': 'RAYSSA MENEZES BANDEIRA', 'mat': '202227050281', 'id': 'B1E2C003'}
{'name': 'LEANDRO ARAGAO', 'mat': '202227050273', 'id': '0DA661F2'}
adicionado:  {'name': 'LEANDRO ARAGAO', 'mat': '202227050273', 'id': '0DA661F2'}
{'name': 'VINICIUS ROHEN DE SOUZA', 'mat': '202227050079', 'id': 'BE1C50F7'}
adicionado:  {'name': 'VINICIUS ROHEN DE SOUZA', 'mat': '202227050079', 'id': 'BE1C50F7'}
{'name': 'GUILHERME DA SILVA VENTURA GASPAR', 'mat': '202227050370', 'id': '5DCC5DF2'}
adicionado:  {'name': 'GUILHERME DA SILVA VENTURA GASPAR', 'mat': '202227050370', 'id': '5DCC5DF2'}
{'name': 'MIGUEL DE ARAUJO PINTO COELHO', 'mat': '202227050087', 'id': 'BE77BCF7'}
adicionado:  {'name': 'MIGUEL DE ARAUJO PINTO COELHO', 'mat': '202227050087', 'id': 'BE77BCF7'}
{'name': 'OBADIAS PIERRE DE OLIVEIRA DOS SANTOS', 'mat': '202227050303', 'id': 'A17CC003'}
adicionado:  {'name': 'OBADIAS PIERRE DE OLIVEIRA DOS SANTOS', 'mat': '202227050303', 'id': 'A17CC003'}
{'name': 'VITÓRIA DOS SANTOS FERREIRA DE SOUZA', 'mat': '202319140341', 'id': '0D9068F2'}
adicionado:  {'name': 'VITÓRIA DOS SANTOS FERREIRA DE SOUZA', 'mat': '202319140341', 'id': '0D9068F2'}
{'name': 'LETÍCIA MELO VARGAS DA SILVA', 'mat': '202219140048', 'id': '2178A103'}
adicionado:  {'name': 'LETÍCIA MELO VARGAS DA SILVA', 'mat': '202219140048', 'id': '2178A103'}
{'name': 'SOPHIA PENA DE OLIVEIRA', 'mat': '202227170155', 'id': 'A10C9203'}
adicionado:  {'name': 'SOPHIA PENA DE OLIVEIRA', 'mat': '202227170155', 'id': 'A10C9203'}
{'name': 'ANA CARLA', 'mat': '202319050300', 'id': 'FD3264F2'}
adicionado:  {'name': 'ANA CARLA', 'mat': '202319050300', 'id': 'FD3264F2'}
{'name': 'ANDRÉ ANTÔNIO AGUIAR PESSANHA SANTOS', 'mat': '202119140321', 'id': 'AD6159F2'}
adicionado:  {'name': 'ANDRÉ ANTÔNIO AGUIAR PESSANHA SANTOS', 'mat': '202119140321', 'id': 'AD6159F2'}
{'name': 'JHONATAS DE PAULO RIBEIRO', 'mat': '202119140232', 'id': 'D17CB003'}

KeyboardInterrupt: